### This notebook file applies Ensemble Learning ( weighted average) to combine the three results from three models and derive one final result

In [2]:
# Import required libraries and read test and train data set
import pandas as pd
import numpy as np

## Summer Dataset

#### Import the results of the three models

In [4]:
linear_regression = pd.read_csv("data/Summer - Linear Regression Model.csv")
print(linear_regression.shape)
linear_regression.head()

(196, 4)

  Country  Year  True Value  Predicted Value
0     AFG  2016           0                1
1     ALB  2016           0                0
2     ALG  2016           2                3
3     AND  2016           0                0
4     ANG  2016           0                0

In [5]:
random_forest = pd.read_csv("data/Summer - Random Forest Model.csv")
print(random_forest.shape)
random_forest.head()

(196, 4)

  Country  Year  True Value  Predicted Value
0     AFG  2016           0                0
1     ALB  2016           0                0
2     ALG  2016           2                2
3     AND  2016           0                0
4     ANG  2016           0                0

In [6]:
CNN = pd.read_csv("data/Summer - Keras CNN Model.csv")
print(CNN.shape)
CNN.head()

(196, 3)

  Country  True Value  Predicted Value
0     AFG           0                3
1     ALB           0                3
2     ALG           2                4
3     AND           0                3
4     ANG           0                3

In [7]:
year = linear_regression["Year"]
true_value = list(linear_regression["True Value"])
NOC = linear_regression["Country"]

linear_predict = list(linear_regression["Predicted Value"])
random_predict = list(random_forest["Predicted Value"])
cnn_predict = list(CNN["Predicted Value"])

In [8]:
Year = pd.DataFrame(year)
True_value = pd.DataFrame(true_value)
NOCs = pd.DataFrame(NOC)

In [9]:
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_squared_error

#### try different combination of weightage and choose the one with lowest MSE

In [10]:
# try different combination of weightage and choose the one with lowest MSE
random_weights = [0.4, 0.5, 0.6, 0.7, 0.8]
performance_dict = {}

min_error = 100000
min_combination = "temp"
for random_weight in random_weights:
    linear_weights_heighest = 1.0 - random_weight
    linear_weights = [0.1*x for x in range((int)(linear_weights_heighest/0.1)) if 0.1*x < linear_weights_heighest]
    
    for linear_weight in linear_weights:
        CNN_weight = 1- random_weight - linear_weight
        NAME = "Linear {}- Random {}-CNN {}".format(linear_weight, random_weight, CNN_weight)
        
        print(NAME)
        
        loss = 0
        finalpred = []
        
        for i in range(196): # 196 countries to predict
            temp = int(round(linear_weight * linear_predict[i] + random_weight * random_predict[i] + CNN_weight * cnn_predict[i]))
            finalpred.append(temp)

        performance_dict[NAME] = mean_squared_error(true_value, finalpred) # total MSE of the prediction
        if (performance_dict[NAME] < min_error):
            print(performance_dict[NAME])
            min_error = performance_dict[NAME]
            min_combination = NAME

print()
print("Best:", min_combination)# ensemble learning using weighted average

Linear 0.0- Random 0.4-CNN 0.6
83.70408163265306
Linear 0.1- Random 0.4-CNN 0.5
61.55102040816327
Linear 0.2- Random 0.4-CNN 0.39999999999999997
41.826530612244895
Linear 0.30000000000000004- Random 0.4-CNN 0.29999999999999993
27.882653061224488
Linear 0.4- Random 0.4-CNN 0.19999999999999996
18.193877551020407
Linear 0.0- Random 0.5-CNN 0.5
Linear 0.1- Random 0.5-CNN 0.4
Linear 0.2- Random 0.5-CNN 0.3
Linear 0.30000000000000004- Random 0.5-CNN 0.19999999999999996
Linear 0.4- Random 0.5-CNN 0.09999999999999998
12.23469387755102
Linear 0.0- Random 0.6-CNN 0.4
Linear 0.1- Random 0.6-CNN 0.30000000000000004
Linear 0.2- Random 0.6-CNN 0.2
Linear 0.30000000000000004- Random 0.6-CNN 0.09999999999999998
Linear 0.0- Random 0.7-CNN 0.30000000000000004
Linear 0.1- Random 0.7-CNN 0.20000000000000004
Linear 0.2- Random 0.7-CNN 0.10000000000000003
Linear 0.0- Random 0.8-CNN 0.19999999999999996

Best: Linear 0.4- Random 0.5-CNN 0.09999999999999998

In [11]:
final_result_list = []
for i in range(196):
    print("{}/{}".format(i, 196))
    final_result_list.append(int(round(linear_predict[i] * 0.4 + random_predict[i] * 0.5 + cnn_predict[i] * 0.1)))

0/196
1/196
2/196
3/196
4/196
5/196
6/196
7/196
8/196
9/196
10/196
11/196
12/196
13/196
14/196
15/196
16/196
17/196
18/196
19/196
20/196
21/196
22/196
23/196
24/196
25/196
26/196
27/196
28/196
29/196
30/196
31/196
32/196
33/196
34/196
35/196
36/196
37/196
38/196
39/196
40/196
41/196
42/196
43/196
44/196
45/196
46/196
47/196
48/196
49/196
50/196
51/196
52/196
53/196
54/196
55/196
56/196
57/196
58/196
59/196
60/196
61/196
62/196
63/196
64/196
65/196
66/196
67/196
68/196
69/196
70/196
71/196
72/196
73/196
74/196
75/196
76/196
77/196
78/196
79/196
80/196
81/196
82/196
83/196
84/196
85/196
86/196
87/196
88/196
89/196
90/196
91/196
92/196
93/196
94/196
95/196
96/196
97/196
98/196
99/196
100/196
101/196
102/196
103/196
104/196
105/196
106/196
107/196
108/196
109/196
110/196
111/196
112/196
113/196
114/196
115/196
116/196
117/196
118/196
119/196
120/196
121/196
122/196
123/196
124/196
125/196
126/196
127/196
128/196
129/196
130/196
131/196
132/196
133/196
134/196
135/196
136/196
137/196
138/196
139/196
140/196
141/196
142/196
143/196
144/196
145/196
146/196
147/196
148/196
149/196
150/196
151/196
152/196
153/196
154/196
155/196
156/196
157/196
158/196
159/196
160/196
161/196
162/196
163/196
164/196
165/196
166/196
167/196
168/196
169/196
170/196
171/196
172/196
173/196
174/196
175/196
176/196
177/196
178/196
179/196
180/196
181/196
182/196
183/196
184/196
185/196
186/196
187/196
188/196
189/196
190/196
191/196
192/196
193/196
194/196
195/196

In [12]:
final_result_summer = pd.DataFrame(final_result_list)

In [13]:
final_summer = pd.concat([Year, NOCs, True_value, final_result_summer], axis = 1)
final_summer.columns = ["Year", "Country Code", "True Medals","Predicted Medals"]

In [14]:
final_summer

     Year Country Code  True Medals  Predicted Medals
0    2016          AFG            0                 1
1    2016          ALB            0                 0
2    2016          ALG            2                 3
3    2016          AND            0                 0
4    2016          ANG            0                 0
..    ...          ...          ...               ...
191  2016          VIE            2                 1
192  2016          VIN            0                 0
193  2016          YEM            0                 0
194  2016          ZAM            0                 0
195  2016          ZIM            0                 2

[196 rows x 4 columns]

In [15]:
R2 = explained_variance_score(true_value, final_result_list)
MSE = mean_squared_error(true_value, final_result_list)
    
print("R2: ", R2, "MSE: ", MSE)

R2:  0.9864035082154422 MSE:  12.23469387755102

In [16]:
final_summer.to_csv("Final Prediction Summer.csv", index = 0)

## Winter Dataset

#### Import the results of the three models

In [17]:
linear_regression_winter = pd.read_csv("data/Winter - Linear Regression Model.csv")
print(linear_regression_winter.shape)
linear_regression_winter.head()

(78, 4)

  Country  Year  True Value  Predicted Value
0     AND  2014           0                0
1     ARG  2014           0                0
2     ARM  2014           0                0
3     AUS  2014           3                3
4     AUT  2014          27               29

In [18]:
random_forest_winter = pd.read_csv("data/Winter - Random Forest Model.csv")
print(random_forest_winter.shape)
random_forest_winter.head()

(78, 4)

  Country  Year  True Value  Predicted Value
0     AND  2014           0                0
1     ARG  2014           0                0
2     ARM  2014           0                0
3     AUS  2014           3                3
4     AUT  2014          27               26

In [19]:
CNN_winter = pd.read_csv("data/Winter - Keras CNN Model.csv")
print(CNN_winter.shape)
CNN_winter.head()

(78, 3)

  Country  True Value  Predicted Value
0     AND           0                1
1     ARG           0                1
2     ARM           0                1
3     AUS           3                6
4     AUT          27               30

In [20]:
year_winter = linear_regression_winter["Year"]
true_value_winter = list(linear_regression_winter["True Value"])
NOC_winter = linear_regression_winter["Country"]

linear_predict_winter = list(linear_regression_winter["Predicted Value"])
random_predict_winter = list(random_forest_winter["Predicted Value"])
cnn_predict_winter = list(CNN_winter["Predicted Value"])

In [21]:
Year_winter = pd.DataFrame(year_winter)
True_value_winter = pd.DataFrame(true_value_winter)
NOCs_winter = pd.DataFrame(NOC_winter)

In [22]:
# try different combination of weightage and choose the one with lowest MSE
random_weights = [0.4, 0.5, 0.6, 0.7, 0.8]
performance_dict = {}

min_error = 100000
min_combination = "temp"
for random_weight in random_weights:
    linear_weights_heighest = 1.0 - random_weight
    linear_weights = [0.1*x for x in range((int)(linear_weights_heighest/0.1)) if 0.1*x < linear_weights_heighest]
    
    for linear_weight in linear_weights:
        CNN_weight = 1- random_weight - linear_weight
        NAME = "Linear {}- Random {}-CNN {}".format(linear_weight, random_weight, CNN_weight)
        
        print(NAME)
        
        loss = 0
        finalpred = []
        
        for i in range(78): # 78 countries to predict
            temp = int(round(linear_weight * linear_predict_winter[i] + random_weight * random_predict_winter[i] + CNN_weight * cnn_predict_winter[i]))
            finalpred.append(temp)

        performance_dict[NAME] = mean_squared_error(true_value_winter, finalpred) # total MSE of the prediction
        if (performance_dict[NAME] < min_error):
            print(performance_dict[NAME])
            min_error = performance_dict[NAME]
            min_combination = NAME

print()
print("Best:", min_combination)# ensemble learning using weighted average

Linear 0.0- Random 0.4-CNN 0.6
21.102564102564102
Linear 0.1- Random 0.4-CNN 0.5
16.17948717948718
Linear 0.2- Random 0.4-CNN 0.39999999999999997
12.897435897435898
Linear 0.30000000000000004- Random 0.4-CNN 0.29999999999999993
9.628205128205128
Linear 0.4- Random 0.4-CNN 0.19999999999999996
7.102564102564102
Linear 0.0- Random 0.5-CNN 0.5
Linear 0.1- Random 0.5-CNN 0.4
Linear 0.2- Random 0.5-CNN 0.3
Linear 0.30000000000000004- Random 0.5-CNN 0.19999999999999996
Linear 0.4- Random 0.5-CNN 0.09999999999999998
5.487179487179487
Linear 0.0- Random 0.6-CNN 0.4
Linear 0.1- Random 0.6-CNN 0.30000000000000004
Linear 0.2- Random 0.6-CNN 0.2
Linear 0.30000000000000004- Random 0.6-CNN 0.09999999999999998
Linear 0.0- Random 0.7-CNN 0.30000000000000004
Linear 0.1- Random 0.7-CNN 0.20000000000000004
Linear 0.2- Random 0.7-CNN 0.10000000000000003
Linear 0.0- Random 0.8-CNN 0.19999999999999996

Best: Linear 0.4- Random 0.5-CNN 0.09999999999999998

In [23]:
final_result_list_winter = []
for i in range(78):
    print("{}/{}".format(i, 78))
    final_result_list_winter.append(int(round(linear_predict_winter[i] * 0.4 + random_predict_winter[i] * 0.5 + cnn_predict_winter[i] * 0.1)))

0/78
1/78
2/78
3/78
4/78
5/78
6/78
7/78
8/78
9/78
10/78
11/78
12/78
13/78
14/78
15/78
16/78
17/78
18/78
19/78
20/78
21/78
22/78
23/78
24/78
25/78
26/78
27/78
28/78
29/78
30/78
31/78
32/78
33/78
34/78
35/78
36/78
37/78
38/78
39/78
40/78
41/78
42/78
43/78
44/78
45/78
46/78
47/78
48/78
49/78
50/78
51/78
52/78
53/78
54/78
55/78
56/78
57/78
58/78
59/78
60/78
61/78
62/78
63/78
64/78
65/78
66/78
67/78
68/78
69/78
70/78
71/78
72/78
73/78
74/78
75/78
76/78
77/78

In [24]:
final_result_winter = pd.DataFrame(final_result_list_winter)

In [25]:
final_winter = pd.concat([Year_winter, NOCs_winter, True_value_winter, final_result_winter], axis = 1)
final_winter.columns = ["Year", "Country Code", "True Medals", "Predicted Medals"]

In [26]:
final_winter

    Year Country Code  True Medals  Predicted Medals
0   2014          AND            0                 0
1   2014          ARG            0                 0
2   2014          ARM            0                 0
3   2014          AUS            3                 3
4   2014          AUT           27                28
..   ...          ...          ...               ...
73  2014          TUR            0                 0
74  2014          UKR            5                 4
75  2014          USA           64                64
76  2014          UZB            0                 0
77  2014          VEN            0                 0

[78 rows x 4 columns]

In [27]:
R2 = explained_variance_score(true_value_winter, final_result_list_winter)
MSE = mean_squared_error(true_value_winter, final_result_list_winter)
    
print("R2: ", R2, "MSE: ", MSE)

R2:  0.9808978368265096 MSE:  5.487179487179487

In [28]:
final_winter.to_csv("Final Prediction Winter.csv", index = 0)

### Olympics 2020

In [29]:
linear_regression_2020 = pd.read_csv("data/Summer 2020 - Linear Regression Model.csv")
print(linear_regression_2020.shape)
linear_regression_2020.head()

(194, 2)

  Country  Predicted Medals
0     AFG                 1
1     ALB                 0
2     ALG                 0
3     AND                 0
4     ANG                 0

In [30]:
random_forest_2020 = pd.read_csv("data/Summer 2020 - Random Forest Model.csv")
print(random_forest_2020.shape)
random_forest_2020.head()

(194, 2)

  Country  Predicted Medals
0     AFG                 1
1     ALB                 0
2     ALG                 1
3     AND                 0
4     ANG                 0

In [31]:
CNN_2020 = pd.read_csv("data/Summer 2020 - Keras CNN Model.csv")
print(CNN_2020.shape)
CNN_2020.head()

(194, 2)

  Country  Predicted Medals
0     AFG                 4
1     ALB                 4
2     ALG                 7
3     AND                 4
4     ANG                 4

In [32]:
year_2020 = [2020] * 194
#true_value_2020 = list(linear_regression_2020["True Value"])
NOC_2020 = linear_regression_2020["Country"]

linear_predict_2020 = list(linear_regression_2020["Predicted Medals"])
random_predict_2020 = list(random_forest_2020["Predicted Medals"])
cnn_predict_2020 = list(CNN_2020["Predicted Medals"])

In [33]:
Year_2020 = pd.DataFrame(year_2020)
#True_value_2020 = pd.DataFrame(true_value_2020)
NOCs_2020 = pd.DataFrame(NOC_2020)

In [34]:
# use the same weightage to predict 2020: 0.4, 0.5, 0.1
final_result_list_2020 = []
for i in range(194):
    print("{}/{}".format(i, 194))
    final_result_list_2020.append(int(round(linear_predict_2020[i] * 0.4 + random_predict_2020[i] * 0.5 + cnn_predict_2020[i] * 0.1)))

0/194
1/194
2/194
3/194
4/194
5/194
6/194
7/194
8/194
9/194
10/194
11/194
12/194
13/194
14/194
15/194
16/194
17/194
18/194
19/194
20/194
21/194
22/194
23/194
24/194
25/194
26/194
27/194
28/194
29/194
30/194
31/194
32/194
33/194
34/194
35/194
36/194
37/194
38/194
39/194
40/194
41/194
42/194
43/194
44/194
45/194
46/194
47/194
48/194
49/194
50/194
51/194
52/194
53/194
54/194
55/194
56/194
57/194
58/194
59/194
60/194
61/194
62/194
63/194
64/194
65/194
66/194
67/194
68/194
69/194
70/194
71/194
72/194
73/194
74/194
75/194
76/194
77/194
78/194
79/194
80/194
81/194
82/194
83/194
84/194
85/194
86/194
87/194
88/194
89/194
90/194
91/194
92/194
93/194
94/194
95/194
96/194
97/194
98/194
99/194
100/194
101/194
102/194
103/194
104/194
105/194
106/194
107/194
108/194
109/194
110/194
111/194
112/194
113/194
114/194
115/194
116/194
117/194
118/194
119/194
120/194
121/194
122/194
123/194
124/194
125/194
126/194
127/194
128/194
129/194
130/194
131/194
132/194
133/194
134/194
135/194
136/194
137/194
138/194
139/194
140/194
141/194
142/194
143/194
144/194
145/194
146/194
147/194
148/194
149/194
150/194
151/194
152/194
153/194
154/194
155/194
156/194
157/194
158/194
159/194
160/194
161/194
162/194
163/194
164/194
165/194
166/194
167/194
168/194
169/194
170/194
171/194
172/194
173/194
174/194
175/194
176/194
177/194
178/194
179/194
180/194
181/194
182/194
183/194
184/194
185/194
186/194
187/194
188/194
189/194
190/194
191/194
192/194
193/194

In [35]:
final_result_2020 = pd.DataFrame(final_result_list_2020)

In [36]:
final_2020 = pd.concat([Year_2020, NOCs_2020, final_result_2020], axis = 1)
final_2020.columns = ["Year", "Country Code", "Predicted Medals"]

In [37]:
# the Top 10 countries with most predicted medals
final_2020.sort_values("Predicted Medals", ascending=False).reset_index(drop = True).head(10)

   Year Country Code  Predicted Medals
0  2020          USA               244
1  2020          CHN               221
2  2020          RUS               157
3  2020          AUS               119
4  2020          BRA               101
5  2020          GER                98
6  2020          GBR                88
7  2020          FRA                74
8  2020          JPN                69
9  2020          NED                68

In [38]:
final_2020

     Year Country Code  Predicted Medals
0    2020          AFG                 1
1    2020          ALB                 0
2    2020          ALG                 1
3    2020          AND                 0
4    2020          ANG                 0
..    ...          ...               ...
189  2020          VIE                 1
190  2020          VIN                 0
191  2020          YEM                 0
192  2020          ZAM                 0
193  2020          ZIM                 0

[194 rows x 3 columns]

In [39]:
# create a csv file for the final result
final_2020.to_csv("Final Prediction for Olympics 2020.csv", index = 0)

In [40]:
final_2020

     Year Country Code  Predicted Medals
0    2020          AFG                 1
1    2020          ALB                 0
2    2020          ALG                 1
3    2020          AND                 0
4    2020          ANG                 0
..    ...          ...               ...
189  2020          VIE                 1
190  2020          VIN                 0
191  2020          YEM                 0
192  2020          ZAM                 0
193  2020          ZIM                 0

[194 rows x 3 columns]